
#product1
{
    width:100%;
    height:400px;

}
#product2
{
    width:100%;
    height:400px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}
  
.probutt {
    scroll-behavior: smooth;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
.probutt:hover
{
    background-color: black;
}
.proddiv
{
    text-align: center;
    font-size: 1.5vw;
    background-image: url("https://i1.wp.com/onlyvectorbackgrounds.com/wp-content/uploads/2018/10/Abstract-Geometric-Background-Purple.jpg?fit=1191%2C842");
}
.stylhovediv{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.stylhovediv:hover .insidedivhover{
background: #00000075;
height: 100%;
width: 100%;
border: 39px solid #00000070;
}