#foodslide
{
    height: 36vw;
}
.fdiv
{
    background-image: url('https://designshack.net/wp-content/uploads/best-watercolor-backgrounds.jpg');
    height: 36vw;
}
.f1div
{
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-minimalistic-blue-background-template-design-bluebluesimplecolor-backgroundgeneral-backgroundposter-image_67314.jpg');
}