#mainimg
{
    border-radius: 10px;
    height:27vw;
    width:100vw;
    margin-top: 14px;
}
#iii1,#iii2,#iii3,#iii4,#iii5,#iii6
{
   
    height: 10vw;
    width: 17vw;;
}
#img:hover
{
box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);
}
.containergal {
    margin-top: 18px;
    position: relative;
    width: 50%;
    height: 100px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 22vw;
    height: 26.5vw;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
  }
  
  .containergal:hover .image {
    opacity: 0.3;
  }
  
  .containergal:hover .middle {
    opacity: 1;
  }
  
  .textabout {
    background-color:rgb(48, 174, 224);
    color: white;
    font-size: 0.8vw;
    width:21vw;
    height: 25.5vw;
    text-align: center;
    margin-top: 16px;
   
  }


  .row{
    margin-right: 0;
  }