nav{
    font-size: 20px;
    color: black;
    background-Image: linear-gradient(to top, rgba(147, 128, 91, 0.7), rgba(173, 167, 94, 0.64), rgba(197, 152, 55, 0.64), rgba(197, 191, 129, 0.83), rgba(153, 118, 53, 0.57));
}
nav Link{
    color: black;
}
body {
    background-Image: linear-gradient(to right, rgba(191, 149, 63, 0.67), rgba(252, 246, 186, 0.64), rgba(179, 135, 40, 0.64), rgba(251, 245, 183, 0.83), rgba(170, 119, 28, 0.57));
}