
.sinput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 20px;
  } 
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-size: 25px;
  }
  
  #ssubmit {
    background-color: #468a95;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    margin-top: 5px;
  }
  
  #ssubmit:hover {
    background-color: rgb(164, 89, 173);
  }
  
  .container1 {
    border-radius: 5px;
    background-color: #63a0928f;
    padding: 20px;
  }
  #Loginform{
    width: 50%;
    
    margin-top:5vh; 
    margin-bottom:5vh; 
    background-image: url('https://www.travelogyindia.com/images/rajasthan/hawa-mahal-550x305.jpg');
    background-size: 100% 100%;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .col-25, .col-75{
      width: 100%;
      margin-top: 0;
    }
    input[type=submit]{
      margin-top: 10px;
    }
  
  #Loginform{
    width: 100%;
    margin-left:0vw;
    margin-top:0vh; 
  }
  }