.dropdown-menu
{
	min-width:15rem;
}

#nav1 a{
	font-size: 20px;
	color: black;
}
#nav1 Link{
	font-size: 20px;
	color: black;
}
.navbar-nav li:hover > ul.dropdown-menu {
	display: block;
	}
	.dropdown-submenu {
	position:relative;
	}
	.dropdown-submenu>.dropdown-menu {
	top:0;
	/*left:-100%;*/
	left:14.9rem; /* 10rem is the min-width of dropdown-menu */
	margin-top:0px;
	font-size: 11px;
	}
	/* rotate caret on hover */
	.dropdown-menu > li > a:hover:after {
	text-decoration: underline;
	transform: rotate(-90deg);
	} 