#statecards
{
    background-image: url('https://www.publicdomainpictures.net/pictures/200000/nahled/damask-pattern-background-blue-1477671794jKy.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}