.row{
  margin-left: 0px;
  margin-right: 0px;
}
body{
  background-Image:linear-gradient(to right, rgba(191, 149, 63, 0.67), rgba(252, 246, 186, 0.64), rgba(179, 135, 40, 0.64), rgba(251, 245, 183, 0.83), rgba(170, 119, 28, 0.57));
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}