body{
    background-image: url('https://thumbs.dreamstime.com/z/blue-seamless-floral-pattern-background-white-flowers-light-back-30685590.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
#d111
{
    box-shadow: 7px 4px 18px #314042; 
    background: rgba(129, 176, 216, 0.48);
    margin-top: 100px;
}
.form-control
{
	background: transparent;
	border-right: 0px;
	border:0px;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-top: 15px;
	height: 40px;
    color: white;
}
#button111
{
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white; 
    color: purple; 
    border: 2px solid #008CBA;      
}
#button111:hover {
    background-color: #008CBA;
    color: white;
  }
.mainHeading
{
    
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
