.button{
    background-color: #FF527B;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px;
    display: block;
    width: 100%;
    border: 0px;
    text-transform: uppercase;
    border-radius: 3px;
    font-family: Whitney;
}
#slide
{
    height:30vw;
    width: 80vw;
}
#tt
{
    height:44vh;
    width: 20vw;
}
.form1
{

background-image:url('https://cdn.pixabay.com/photo/2017/08/12/10/13/background-2633962_960_720.jpg');
background-size: cover;
background-attachment: fixed;

}
#nav
{
    height:100px;
    background-image: url('https://img.freepik.com/free-vector/watercolour-texture-background_1048-6656.jpg?size=338&ext=jpg');
}
#navtext
{
    font-size: 2vw;
    text-align: right;
}
.registerme
{
    width:1000vw;
    
} 
.d1
{
    height: 60vh;
    background-image: url('./images/opt.jpg');
  
}
.info
{
    font-size: 3vh; 
   
}
  
footer{
    background:rgb(1, 41, 66);
} 
#page-footer{
    background:rgb(104, 133, 151);
    
}
#page
{

    background-image: url('http://gdj.graphicdesignjunction.com/wp-content/uploads/2011/02/background-pattern-design-90.jpg');
}
